.arrow-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:  #FFCC7A;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.arrow-button:hover {
  transform: scale(1.1);
}

.arrow-button img {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
}
